.navigator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 40px;
    margin: 5px;

    .menu-area {
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;

            .item {
                margin: 0 10px;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .logo-area {
        img {
            cursor: pointer;
            width: 82px;
        }
    }

    .etc-area {
        display: flex;
        flex-direction: row;
        align-items: center;

        .item {
            margin: 0 10px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }
}