.home-root-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;

    .home-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner-section {
            display: flex;
            align-items: center;
            justify-content: center;

            &.card {
                width: 1440px;
                margin-top: 70px;

                img {
                    cursor: pointer;
                    object-fit: cover;
                }
            }
        }
    }
}